<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/button-container::head}">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body>
<header>
    <div th:fragment="button-container" class="button-container-format">

            <a class="my-profile-button" th:href="@{/my-profile}">my profile</a>
            <a class="my-profile-button" th:href="@{/add-note}">add new</a>
        <a class="my-profile-button" th:href="@{/my-notes(sort='desc')}">notes</a>
        <a class="my-profile-button" th:href="@{/my-tasks(sort='desc')}">tasks</a>
        <a class="my-profile-button" th:href="@{/archived-notes}">archive</a>
        <form class="logout-form-wrapper" th:method="post" th:action="@{/logout}">
            <input type="submit" value="   logout   " class="my-profile-button logout-form">
        </form>

    </div>
</header>
</body>
</html>