<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nooter application</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>


<div th:fragment="clock" id="clock" style="font-weight: bold;
        position: fixed;
        top: 10px;

        font-family: monospace;
        font-size: 18px;
        background-color: #F0944F;
        padding: 5px 10px;
        border-radius: 8px;">

    <script>
        function updateClock() {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            const timeString = `${hours}:${minutes}:${seconds}`;
            document.getElementById('clock').textContent = timeString;
        }

        setInterval(updateClock, 1000);
        updateClock();
    </script>
</div>

</body>
</html>