<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nooter application</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<div th:fragment="footer">
    <footer class="footer">
        <p>Copyright © 2025 Lazar Dukov<br>
            If you need some support or assistance, contact:<br>
            lazarrumenowdukow@gmail.com
        </p>
    </footer>
</div>
</body>
</html>