<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/welcome-button::head}">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<header>
    <a class="welcome-button" th:fragment="welcome-button" th:href="@{/}">
        <img th:src="@{/images/home.png}" height="40px" width="40px" alt="Home">
    </a>
</header>
</body>
</html>