<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nooter application</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
        function handleTypeChange(select) {
            const reminderField = document.getElementById("reminderField");
            if (select.value === "TASK") {
                reminderField.style.display = "block";
            } else {
                reminderField.style.display = "none";
            }
        }

        window.addEventListener('DOMContentLoaded', function () {
            const typeSelect = document.getElementById("type");
            handleTypeChange(typeSelect); // On load, check if it's already set to TASK
            typeSelect.addEventListener("change", function () {
                handleTypeChange(this);
            });
        });
    </script>
</head>
<body class="add-record">
<div th:replace="~{fragments/clock :: clock}">
    Clock
</div>
<div th:replace="~{fragments/button-container::button-container}">
    Button container
</div>
<div class="add-record-form">
    <h1>Add record</h1>
    <form id="addNoteForm"
          th:method="post"
          th:action="@{/add-record}"
          th:object="${addRecordDTO}">
        <label>Title:</label><br>
        <input th:value="${addRecordDTO.title}" id="title"
               name="title"
               type="text"
               placeholder="Title"><br>
        <small th:if="${#fields.hasErrors('title')}"
               th:errorclass="errors"
               th:errors="*{title}"
               class="text-danger">
            Title error!
        </small>
        <label>Description:</label><br>
        <input th:value="${addRecordDTO.description}" id="description"
               name="description"
               type="text"
               placeholder="Description"><br>
        <small th:if="${#fields.hasErrors('description')}"
               th:errorclass="errors"
               th:errors="*{description}"
               class="text-danger">
            Description error!
        </small>
        <label>Choose type:</label><br>
        <select th:field="*{type}" id="type">
            <option value="" hidden>Choose record or task:</option>
            <option value="NOTE">Note</option>
            <option value="TASK">Task</option>
        </select>

        <div id="reminderField"
             th:style="${addRecordDTO.type == 'TASK'} ? 'display:block;' : 'display:none;'">
            <label>Reminder date and time:</label><br>
            <input th:value="${addRecordDTO.reminderTime}" type="datetime-local"
                   id="reminderTime" name="reminderTime"><br>
            <small th:if="${#fields.hasErrors('reminderTime')}"
                   th:errorclass="errors"
                   th:errors="*{reminderTime}"
                   class="text-danger">
                Reminder time error!
            </small>
        </div>
    </form>
</div>

<div>
    <input class="add-record-input" id= "submit" type="submit" value="Add record" form="addNoteForm"><br>
</div>

<footer th:replace="~{fragments/copyright :: footer}">


</footer>
</body>
</html>