<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nooter App</title>
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="login">
<h1>Change password</h1>
<div class="login-form">
  <form id="changePassword"
        th:method="post"
        th:action="@{/change-password}"
        th:object="${changePasswordDTO}">
    <label>Old password:</label><br>
    <input th:field="*{oldPassword}" id="oldPassword"
           name="oldPassword"
           type="password"
           placeholder="Old password"><br>
    <small th:if="${#fields.hasErrors('oldPassword')}"
           th:errorclass="errors"
           th:errors="*{oldPassword}"
           class="text-danger">
      Password error!
    </small>
    <label>New password:</label><br>
    <input th:field="*{newPassword}"
           th:errorclass="'is-invalid alert-danger'"
           id="newPassword"
           name="newPassword"
           type="password"
           placeholder="New password"><br>
    <small th:if="${#fields.hasErrors('newPassword')}"
           th:errorclass="errors"
           th:errors="*{newPassword}"
           class="text-danger">
      Password error!
    </small>
    <label>Confirm new password:</label>
    <input th:field="*{newPasswordConfirm}"
           th:errorclass="'is-invalid alert-danger'"
           id="newPasswordConfirm"
           name="newPasswordConfirm"
           type="password"
           placeholder="New password confirm"><br>
    <small th:if="${#fields.hasErrors('newPasswordConfirm')}"
           th:errorclass="errors"
           th:errors="*{newPasswordConfirm}"
           class="text-danger">
      Password error!
    </small>
  </form>
</div>

<div>
  <input class="login-button-input" type="submit" value="Change password" form="changePassword"><br>
</div>
<div th:replace="~{fragments/button-container :: button-container}">
  Button container
</div>
<footer th:replace="~{fragments/copyright :: footer}">


</footer>
</body>
</html>