<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body class="index-page">
<div class="info-wrapper">
    <h3 class="information-text" sec:authorize="!isAuthenticated()">To proceed forward,<br> please register or log in!
    </h3>
</div>

<div class="button-container">
    <a class="gold-button from-top" sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a>
    <a class="gold-button from-bottom" sec:authorize="!isAuthenticated()" th:href="@{/login}">Log in</a>
</div>
<a sec:authorize="isAuthenticated()" th:href="@{/my-notes}">My notes</a>
<a sec:authorize="isAuthenticated()" th:href="@{/add-note}">Add note</a>
<a sec:authorize="isAuthenticated()" th:href="@{/archived-notes}">Archived note</a>

<form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}" th:href="@{/}">
    <input type="submit" name="" value="Logout">
</form>

</body>
</html>