<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul style="list-style: none">
    <li><a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a></li>
    <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Log in</a></li>
    <li><a sec:authorize="isAuthenticated()" th:href="@{/my-notes}">My notes</a></li>
    <li><a sec:authorize="isAuthenticated()" th:href="@{/add-note}">Add note</a></li>

    <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}" th:href="@{/}">
        <input type="submit" name="" value="Logout">
    </form>
</ul>
</body>
</html>