<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nooter App</title>
</head>
<body>
<div>
    <h1>Register form</h1>
    <form th:method="post"
          th:action="@{/login}">
        <label>Username:</label><br>
        <input th:value="${username}" id="username"
               name="username"
               type="text"
               placeholder="Username"><br>
        <label>Password:</label><br>
        <input id="password"
               name="password"
               type="password"
               placeholder="Password"><br>
        <p class="errors alert alert-danger" th:if="${bad_credentials}">Username or password incorrect!</p>
        <input type="submit" value="Login"><br>

    </form>


</div>
</body>
</html>