<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>My notes</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${myNotes}">
            <td th:text="${note.title}"></td>
            <td th:text="${note.description}"></td>
            <td th:text="${note.type}"></td>
            <td th:text="${note.active}"></td>
            <td th:text="${note.reminderTime}"></td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>