<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nooter application</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>


</head>
<body class="my-profile">
<div>
    <h1 class="information-text"> Welcome,
        <th:block sec:authentication="name"></th:block>
        Here you can organize your notes and reminders!
    </h1>
</div>
<div th:replace="~{fragments/button-container :: button-container}">
    Button container
</div>
<footer th:replace="~{fragments/copyright :: footer}">


</footer>
</body>
</html>