<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nooter application</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


</head>


<body class="my-profile">

<div>
    <h1 class="information-text"> Welcome,
        <div class="welcome-username">
            <th:block sec:authentication="name"></th:block>
        </div>
        Here you can organize your notes and reminders!
    </h1>
</div>
<div th:replace="~{fragments/button-container :: button-container}">
    Button container
</div>
<div class="my-profile-stats">

    <div class="my-profile-item-label">Your email:</div>
    <div class="welcome-email">
        <th:block th:text="${email}"></th:block>
        <button class="update-email-button" popup-open="popup-edit-email">
            <i class="material-icons" style="color: yellow">edit</i>
        </button>

    </div>

</div>

<!-- Popup Modal -->
<div class="popup" popup-name="popup-edit-email" style="display: none;">
    <div class="popup-content">
        <h2>Edit Your Email</h2>
        <form id="editEmailForm"
              th:action="@{/my-profile/edit-email}"
              method="post">
            <label for="newEmail">New Email:</label><br>
            <input type="email" id="newEmail" name="newEmail" required
                   th:value="${email}"><br><br>
        </form>
    </div>
    <input class="edit-note-input" type="submit" value="Update Email" form="editEmailForm">
    <a class="close-popUp-button" popup-close="popup-edit-email" href="javascript:void(0)">
        Close
    </a>
</div>
<div class="my-profile-stats">
    <div class="my-profile-item">
        <div class="my-profile-item-label">Active notes:</div>
        <div class="welcome-email">
            <th:block th:text="${notesNumber}"></th:block>
        </div>
    </div>
    <div class="my-profile-item">
        <div class="my-profile-item-label">Active tasks:</div>
        <div class="welcome-email">
            <th:block th:text="${taskNumber}"></th:block>
        </div>
    </div>
    <div class="my-profile-item">
        <div class="my-profile-item-label">Total archived:</div>
        <div class="welcome-email">
            <th:block th:text="${totalArchived}"></th:block>
        </div>
    </div>

</div>

</div>

<footer th:replace="~{fragments/copyright :: footer}">


</footer>
<script>
    $(function () {
        // Open popup
        $('[popup-open]').on('click', function () {
            const popupName = $(this).attr('popup-open');
            $('[popup-name="' + popupName + '"]').fadeIn(300);
        });

        // Close popup
        $('[popup-close]').on('click', function () {
            const popupName = $(this).attr('popup-close');
            $('[popup-name="' + popupName + '"]').fadeOut(300);
        });

        // Close when clicking outside
    });
</script>
</body>
</html>